button {
  border-radius: 100px 100px 100px 100px;
  height: 49px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus {
  outline: 0;
}

.buttonsRow {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 15px;
}

.openModalButton {
  width: 138px;
  background-color: var(--mainColor);
  margin-left: auto;
}

.deleteButton {
  width: 138px;
  background-color: #ffffff;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  margin-right: auto;
}

.returnButton {
  width: 81px;
  background-color: #ffffff;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.returnIcon {
  display: flex;
  align-items: center;
}

.cancelButton {
  width: 138px;
  background-color: #ffffff;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.addButton {
  width: 138px;
  background-color: var(--mainColor);
  margin-left: auto;
}
