@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

:root {
  --mainFont: "Montserrat", sans-serif;
  --mainColor: #324bff;
  line-height: 1.5;
  color-scheme: light dark;
  background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.selector {
  width: 900px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 20px;
  color: #333333;
  font-family: var(--mainFont);
  padding: 50px;
  filter: drop-shadow(0px 5px 12px #0000001f);
}

.title {
  max-width: 100%;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 540;
}

.loremIpsum {
  max-width: 100%;
  margin: 15px auto;
  font-size: 18px;
  font-weight: normal;
}

#itemList {
  width: 100%;
  height: fit-content;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  margin: 35px auto;
  box-sizing: border-box;
  padding: 11px;
}

#modal {
  width: 700px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 20px;
  color: #333333;
  font-family: var(--mainFont);
  padding: 50px;
  filter: drop-shadow(0px 5px 12px #0000001f);
  position: absolute;
  top: 0;
  margin-top: -276px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  transition: margin 0.45s;
}

#modal.opened {
  margin-top: 50px;
}

.label {
  height: fit-content;
  width: 100%;
  text-align: left;
  font-size: 18px;
}

.textInput {
  height: 60px;
  width: 100%;
  background-color: #f7f7f7;
  color: #333333;
  font-size: 18px;
  font-family: var(--mainFont);
  margin: 20px 0px 20px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  padding-left: 20px;
}

#shadowId {
  background-color: #0000001a;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 0;
  z-index: 1;
  transition: height 0.5s;
}

#shadowId.opened {
  height: 100vh;
}
